/*----------------------------------------------------
@File: Default Styles
@Author: Nasir Uddin
@URL: http://nasiruddin.com

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.

This files contents are outlined below.

  1.  Variables
  2.  Prefix
  3.  Shortcode
  4.  Header
  5.  Upload Media
  6.  Ribbon
  7.  Media - Video Post
  8.  Advertise
  9.  Sidebar
 10. Footer
 11. Filter
 12. Auth
 13. Profile
 14. Single Page
----------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*Prefix Styles*/
.m0 {
  margin: 0;
}
.p0 {
  padding: 0;
}
body {
  position: relative;
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
h1, h2, h3, h4 {
  font-family: 'Alegreya', serif;
  color: #544e43;
}
h5, h6 {
  color: #da4757;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
}
body .fleft {
  float: left;
}
body .fright {
  float: right;
}
body .flefti {
  float: left !important;
}
body .frighti {
  float: right !important;
}
body section.row,
body header.row,
body footer.row {
  margin: 0;
  position: relative;
}
body .mfp-container {
  width: 100vw;
  padding: 0;
}
@media (min-width: 1261px) {
  body .container {
    width: 1260px;
  }
}
/*Ancore*/
a,
.btn,
button {
  outline: none;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
a:focus,
.btn:focus,
button:focus,
a:hover,
.btn:hover,
button:hover {
  outline: none;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/*----------------------------------------------------------------*/
.title_row {
  padding: 0 15px;
}
.title_row h3 {
  font-size: 22px;
  border-bottom: 2px solid  #e8ebed;
  position: relative;
  margin-bottom: 25px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #43494e;
  line-height: 1;
  padding-bottom: 13px;
}
.title_row h3:after {
  position: relative;
  height: 2px;
  background: #e74c3c;
  width: 80px;
  content: '';
  left: 0;
  bottom: -15px;
  display: block;
}
.load_more_videos,
.loadting_text {
  display: block;
  line-height: 60px;
  color: #828a91;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  background: #f1f4f5;
  margin-top: 15px;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.load_more_videos:hover,
.loadting_text:hover,
.load_more_videos:focus,
.loadting_text:focus {
  color: #fff;
  background: #e74c3c;
}
.load_more_videos:focus,
.loadting_text:focus {
  color: #43494e;
}
.loadting_text i {
  margin-right: 5px;
}
.post_page_sidebar {
  padding-top: 15px;
}
.post_page_sidebar .advertise_row {
  margin: 45px auto;
}
.post_page_sidebar.post_page_sidebar2 .post_page_uploads {
  float: none;
  margin: 0 auto;
}
.pagination_row {
  padding: 40px 15px;
}
.pagination_row .pagination {
  float: none;
  display: table;
  margin: 0 auto;
}
.pagination_row .pagination li {
  float: left;
}
.pagination_row .pagination li a {
  min-width: 33px;
  text-align: center;
  padding: 0 13px;
  background: #f1f4f5;
  line-height: 32px;
  border: none;
  border-radius: 2px;
  color: #43494e;
  text-transform: uppercase;
  font-weight: 600;
}
.pagination_row .pagination li a:hover {
  background: #e74c3c;
  color: #fff;
}
.pagination_row .pagination li + li {
  margin-left: 10px;
}
.pagination_row .pagination li.active a {
  background: #e74c3c;
  color: #fff;
}
.pagination_row .pagination li:first-child a,
.pagination_row .pagination li:last-child a {
  width: 90px;
}
.page_cover {
  height: 200px;
  background: #232323;
  z-index: 2;
  color: #fff;
  padding-top: 60px;
}
.page_cover:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(http://uxart.io.dimgx.net/Products/video-cafe/images/page-cover.jpg) no-repeat scroll center top;
  z-index: -1;
  opacity: 0.2;
}
.page_cover h1 {
  font-weight: 300;
  margin: 0;
}
.page_cover .breadcrumb {
  background: none;
  padding: 16px 0 0;
  font-size: 18px;
  margin-bottom: 0;
}
.page_cover .breadcrumb li a {
  color: #fff;
}
.page_cover .breadcrumb li + li {
  color: #fff;
}
.page_cover .breadcrumb li + li:before {
  content: '>';
}
/*----------------------------------------------------------------*/
.navbar {
  margin-bottom: 0;
  border: none;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.navbar .container {
  position: relative;
  /*default menu styles*/
}
.navbar .container .navbar-header {
  width: 365px;
}
.navbar .container .navbar-header .navbar-toggle span {
  background: #43494e;
}
.navbar .container .navbar-nav li a:focus {
  color: #43494e;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar .container #middle-menu {
  float: left;
}
.navbar.navbar-fixed-top .container {
  /*default menu styles*/
}
.navbar.navbar-fixed-top .container .navbar-header .navbar-brand {
  padding: 19px 0;
  height: auto;
  line-height: 70px;
}
.navbar.navbar-fixed-top .container .navbar-nav li a {
  line-height: 70px;
}
.navbar.navbar-fixed-top .container .navbar-nav li a span {
  height: 70px;
}
.navbar.navbar-fixed-top .container .navbar-nav li.dropdown a:after {
  height: 70px;
}
/*----------------------------------------------------------------*/
.upload_media {
  background: #232323;
  position: relative;
  height: 640px;
  z-index: 0;
  text-align: center;
  padding-top: 140px;
}
.upload_media:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background: url(http://uxart.io.dimgx.net//Products/video-cafe/images/slide.jpg) no-repeat scroll center top;
  opacity: 0.2;
  z-index: -1;
}
.upload_media h2 {
  font-size: 48px;
  line-height: 1;
  font-weight: lighter;
  color: #fff;
  margin-bottom: 0;
  margin-top: 13px;
}
.upload_media h3 {
  font-size: 24px;
  line-height: 1;
  font-weight: lighter;
  color: #fff;
  margin-bottom: 55px;
}
.upload_media #upload_media {
  width: 460px;
  height: 340px;
  background: #fff;
  color: #828a91;
  padding: 30px;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
}
.upload_media #upload_media .inner {
  width: 100%;
  height: 100%;
  border: 5px dashed #dce0e2;
  padding-top: 30px;
}
.upload_media #upload_media .plus_ico {
  width: 100px;
  height: 100px;
  margin: 0 auto 30px;
  text-align: center;
  line-height: 90px;
  font-size: 100px;
  font-weight: bold;
  background: #f1f4f5;
  border-radius: 100%;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.upload_media #upload_media label {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 0 22px;
  line-height: 42px;
  border-radius: 5px;
  background: #e74c3c;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.upload_media #upload_media label img {
  margin-right: 10px;
}
.upload_media #upload_media label:hover {
  background: #c9392b;
}
.upload_media #upload_media .dz-default.dz-message {
  bottom: 70px;
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  position: absolute;
}
.upload_media #upload_media:hover .plus_ico {
  color: #fff;
  background: #e74c3c;
}
/*----------------------------------------------------------------*/
.ribbon li {
  height: 8px;
}
.ribbon li a {
  padding: 4px 15px;
  -webkit-transform: scaleY(1) scaleX(1);
  -ms-transform: scaleY(1) scaleX(1);
  transform: scaleY(1) scaleX(1);
  position: relative;
  z-index: 1;
  cursor: default;
}
.ribbon li:nth-child(1) a {
  background: #1abc9c;
}
.ribbon li:nth-child(2) a {
  background: #e67e22;
}
.ribbon li:nth-child(3) a {
  background: #3498db;
}
.ribbon li:nth-child(4) a {
  background: #e74c3c;
}
.ribbon li:nth-child(5) a {
  background: #9b59b6;
}
.ribbon li:nth-child(6) a {
  background: #f1c40f;
}
/*----------------------------------------------------------------*/
.recent_uploads {
  padding: 95px 0 60px;
}
.author_interview {
  padding-bottom: 30px;
}
.category_based {
  padding-bottom: 60px;
}
.video_post .inner {
  border: 1px solid #f1f4f5;
  border-bottom: 0;
}
.video_post .inner .screencast {
  position: relative;
}
.video_post .inner .screencast .media-length {
  position: absolute;
  background: #e74c3c;
  line-height: 20px;
  font-size: 12px;
  padding: 0 5px;
  right: 0;
  top: 0;
  color: #fff;
}
.video_post .inner .post_data {
  padding: 12px 15px;
}
.video_post .inner .post_data .post_title {
  font-weight: 600;
  line-height: 22px;
  color: #43494e;
}
.video_post .inner .post_data .author,
.video_post .inner .post_data .date {
  font-size: 12px;
}
.video_post .inner .post_data .author a,
.video_post .inner .post_data .date a {
  color: #43494e;
}
.video_post .inner .post_data .author {
  margin-right: 30px;
}
.video_post .inner .taxonomy .category {
  margin-right: 1px;
}
.video_post .inner .taxonomy .views {
  margin-left: 1px;
  text-align: right;
}
.video_post .inner .taxonomy .category,
.video_post .inner .taxonomy .views {
  width: -webkit-calc(50% - 1px);
  width: calc(50% - 1px);
}
.video_post .inner .taxonomy .category a,
.video_post .inner .taxonomy .views a {
  background: #f1f4f5;
  color: #43494e;
  font-size: 12px;
  font-weight: 600;
  display: block;
  padding: 12px 15px;
  min-height: 43px;
  white-space: nowrap;
}
.video_post .inner .taxonomy .category a img,
.video_post .inner .taxonomy .views a img {
  margin-right: 5px;
}
.video_post .inner:hover .screencast .play_btn {
  background-image: url(../../images/play-btn-hover.png);
}
.video_post .inner:hover .post_data .post_title {
  color: #e74c3c;
}
.feature_post {
  margin-bottom: 30px;
}
.feature_post .feature_post_inner .feature_img {
  float: left;
  padding-right: 30px;
}
.feature_post .feature_post_inner .feature_img a {
  width: auto;
  height: auto;
  display: block;
  position: relative;
}
.feature_post .feature_post_inner .feature_img a img {
  width: auto;
  max-width: 100%;
  border-radius: 0;
}
.feature_post .feature_post_inner .feature_img a .duration {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 12px;
  padding: 0 5px;
  display: block;
  line-height: 20px;
  background: #e74c3c;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.feature_post .feature_post_inner .feature_img a:hover .duration {
  color: #f1f4f5;
  background: #43494e;
}
.feature_post .feature_post_inner .feature_body h4 {
  margin-top: 0;
  line-height: 22px;
  font-weight: 600;
  color: #43494e;
  margin-bottom: 15px;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.feature_post .feature_post_inner .feature_body h4:hover {
  color: #e74c3c;
}
.feature_post .feature_post_inner .feature_body p {
  line-height: 20px;
  color: #43494e;
  margin-bottom: 15px;
}
.feature_post .feature_post_inner .feature_body .meta_info {
  font-size: 12px;
  color: #828a91;
  line-height: 18px;
}
.feature_post .feature_post_inner .feature_body .meta_info.posted a {
  color: #828a91;
}
.feature_post .feature_post_inner .feature_body .views a {
  color: #43494e;
  font-size: 12px;
  font-weight: 600;
}
.feature_post .feature_post_inner .feature_body .views a img {
  margin-right: 5px;
}
/*----------------------------------------------------------------*/
.advertise_betweeen_uploads {
  text-align: center;
  color: #fff;
}
.advertise_betweeen_uploads .inner {
  border-radius: 3px;
  background: #e74c3c;
  padding: 126px 0;
  border: none;
}
.advertise_betweeen_uploads .inner h3 {
  margin: 0;
  line-height: 32px;
  font-weight: bold;
}
.advertise_row {
  background: #e74c3c;
  color: #fff;
  width: 760px;
  max-width: 100%;
  margin: 0 auto 60px;
}
.advertise_row h3 {
  margin: 0;
  line-height: 90px;
  font-weight: bold;
  text-align: center;
}
/*----------------------------------------------------------------*/
.sidebar.sidebar1 {
  padding: 95px 0 80px;
  background: #f7f8f9;
}
.sidebar.sidebar2,
.sidebar.sidebar3 {
  padding: 15px 15px 85px;
}
.sidebar.sidebar3 {
  width: 316px;
  padding-top: 30px;
  padding-right: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
.sidebar.sidebar3 .sidebar_row_inner {
  margin-right: 0;
  padding-left: 0;
}
.widget.widget_post_from_blog .post_from_blog + .post_from_blog {
  margin-top: 30px;
}
.widget.widget_post_from_blog .post_from_blog .featured_img {
  margin-bottom: 15px;
}
.widget.widget_post_from_blog .post_from_blog .featured_img a {
  display: block;
}
.widget.widget_post_from_blog .post_from_blog .featured_img a img {
  display: block;
}
.widget.widget_post_from_blog .post_from_blog .the_title a {
  display: inline-block;
  color: #43494e;
  line-height: 1.2;
  font-weight: bold;
}
.widget.widget_post_from_blog .post_from_blog:hover .the_title a {
  color: #e74c3c;
}
.widget.widget_recommended_to_follow .media + .media {
  margin-top: 20px;
}
.widget.widget_recommended_to_follow .media .media-left {
  padding-right: 20px;
}
.widget.widget_recommended_to_follow .media .media-left a {
  width: 70px;
  height: 70px;
  display: block;
}
.widget.widget_recommended_to_follow .media .media-left a img {
  width: 100%;
  border-radius: 100%;
}
.widget.widget_recommended_to_follow .media .media-body h5 {
  margin-top: 0;
  line-height: 20px;
  font-weight: 600;
  color: #43494e;
}
.widget.widget_recommended_to_follow .media .media-body .btn-group {
  border-radius: 3px;
}
.widget.widget_recommended_to_follow .media .media-body .btn-group a {
  line-height: 22px;
  padding: 0 20px;
  border: 1px solid #c9ced1;
  text-transform: uppercase;
  color: #828a91;
}
.widget.widget_recommended_to_follow .media .media-body .btn-group a + a {
  border: 0;
  background: #e74c3c;
  line-height: 24px;
  color: #fff;
}
.widget.widget_recommended_to_follow .media .media-body .btn-group a + a:hover {
  background: #c9392b;
  color: #f1f4f5;
  border-color: #43494e;
}
.widget.widget_recommended_to_follow .media .media-body .btn-group a + a:focus {
  background: #6b7881;
}
.widget.widget_recommended_to_follow .media:hover .media-body h5 {
  color: #e74c3c;
}
.widget.widget_popular_videos .media + .media {
  margin-top: 20px;
}
.widget.widget_popular_videos .media .media-left {
  padding-right: 20px;
}
.widget.widget_popular_videos .media .media-left a {
  width: 120px;
  height: 80px;
  display: block;
  position: relative;
}
.widget.widget_popular_videos .media .media-left a img {
  width: 100%;
  border-radius: 2px;
}
.widget.widget_popular_videos .media .media-left a .duration {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 12px;
  padding: 0 5px;
  display: block;
  line-height: 20px;
  background: #e74c3c;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.widget.widget_popular_videos .media .media-body .meta_info {
  font-size: 12px;
  color: #828a91;
  line-height: 18px;
}
.widget.w_in_footer .widget_title {
  color: #6b7881;
  border-bottom: 1px solid  #47545d;
}
.widget.w_in_footer.widget_about a {
  display: inline-block;
  margin-bottom: 30px;
}
.widget.w_in_footer.widget_about p {
  margin-bottom: 0;
  color: #6b7881;
  text-align: justify;
  font-weight: 400;
}
.widget.w_in_footer.widget_subscribe form .form-control {
  background-color: transparent;
  border: 1px solid #6b7881;
  border-radius: 2px;
  height: 40px;
  padding: 0 20px;
  line-height: 38px;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.widget.w_in_footer.widget_subscribe form .form-control:focus {
  border-color: #e74c3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(231, 76, 60, 0.75), 0 0 8px rgba(231, 76, 60, 0.8);
  box-shadow: inset 0 1px 1px rgba(231, 76, 60, 0.75), 0 0 8px rgba(231, 76, 60, 0.8);
}
.widget.w_in_footer.widget_subscribe form .form-control + .form-control {
  margin-top: 10px;
}
.widget.w_in_footer.widget_subscribe form .form-control::-moz-placeholder {
  color: #6b7881;
  opacity: 1;
  text-transform: capitalize;
  transition: all 300ms ease-in-out 0s;
}
.widget.w_in_footer.widget_subscribe form .form-control:-ms-input-placeholder {
  color: #6b7881;
  text-transform: capitalize;
  transition: all 300ms ease-in-out 0s;
}
.widget.w_in_footer.widget_subscribe form .form-control::-webkit-input-placeholder {
  color: #6b7881;
  text-transform: capitalize;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.widget.w_in_footer.widget_subscribe form .form-control:focus::-moz-placeholder {
  color: #f1f4f5;
}
.widget.w_in_footer.widget_subscribe form .form-control:focus:-ms-input-placeholder {
  color: #f1f4f5;
}
.widget.w_in_footer.widget_subscribe form .form-control:focus::-webkit-input-placeholder {
  color: #f1f4f5;
}
.widget.w_in_footer.widget_subscribe form .form-control.btn {
  background: #e74c3c;
  text-shadow: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.widget.w_in_footer.widget_subscribe form .form-control.btn:hover {
  background: #c9392b;
  color: #f1f4f5;
}
.widget.w_in_footer.widget_tags .tag {
  color: #6b7881;
  border: 1px solid #6b7881;
  border-radius: 2px;
  display: inline-block;
  line-height: 28px;
  padding: 0 13px;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 7px;
}
.widget.w_in_footer.widget_tags .tag:hover {
  color: #f1f4f5;
  border-color: #e74c3c;
  background: #e74c3c;
}
.widget.w_in_footer.widget_twitter .tweet {
  line-height: 20px;
  color: #6b7881;
}
.widget.w_in_footer.widget_twitter .tweet + .tweet {
  margin-top: 10px;
}
.widget.w_in_footer.widget_twitter .tweet a {
  color: #e74c3c;
  margin-right: 5px;
  display: inline-block;
}
.widget.w_in_footer.widget_twitter .tweet a:hover {
  color: #f1f4f5;
}
/*----------------------------------------------------------------*/
footer.row {
  background: #313b42;
  padding: 95px 0 50px;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 99999999;
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url('../../images/16942_Preloader_10.gif');
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}
/*----------------------------------------------------------------*/
.search_filter {
  background: #5d5d5d;
  padding: 24px 0;
}
.search_filter .category_filter .btn.dropdown-toggle {
  border-radius: 2px;
  background: none transparent;
  text-shadow: none;
  border-color: #6b7881;
  color: #6b7881;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: uppercase;
  line-height: 38px;
  height: 40px;
  padding: 0;
  width: 220px;
}
.search_filter .category_filter .btn.dropdown-toggle .filter-option {
  float: left;
  padding: 0 15px;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  font-weight: 600;
  text-align: left;
}
.search_filter .category_filter .btn.dropdown-toggle .caret {
  border: none;
  border-left: 1px solid #6b7881;
  display: inline-block;
  line-height: 38px;
  height: 38px;
  width: 30px;
  float: right;
  margin-top: 0;
  top: 0;
  right: 0;
  background: url(../../images/icons/dropdown-arrow2.png) no-repeat center center transparent;
  -webkit-transition: background 300ms ease-in-out 0s;
  transition: background 300ms ease-in-out 0s;
}
.search_filter .category_filter .btn.dropdown-toggle.active {
  border-color: #e74c3c;
  color: #e74c3c;
}
.search_filter .category_filter .btn.dropdown-toggle.active .caret {
  border-left-color: #e74c3c;
  background-image: url(../../images/icons/dropdown-arrow-active.png);
}
.search_filter .category_filter .btn.dropdown-toggle + .dropdown-menu {
  border-radius: 0 0 5px 5px;
  padding: 0;
  text-transform: capitalize;
  border: none;
  width: 100%;
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transform: scale(1, 0);
  display: block;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.search_filter .category_filter .btn.dropdown-toggle + .dropdown-menu li {
  background: #313b42;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.search_filter .category_filter .btn.dropdown-toggle + .dropdown-menu li + li {
  border-top: 1px solid #6b7881;
}
.search_filter .category_filter .btn.dropdown-toggle + .dropdown-menu li:hover {
  border-top-color: #e74c3c;
}
.search_filter .category_filter .btn.dropdown-toggle + .dropdown-menu li:hover + li {
  border-top-color: #e74c3c;
}
.search_filter .category_filter .btn.dropdown-toggle + .dropdown-menu li a {
  color: #6b7881;
  line-height: 42px;
  padding: 0 15px;
}
.search_filter .category_filter .btn.dropdown-toggle + .dropdown-menu li a .badge {
  background: #444f57;
  font-weight: lighter;
  margin: 12px 0;
  color: #9ca7af;
  position: absolute;
  right: 15px;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.search_filter .category_filter .btn.dropdown-toggle + .dropdown-menu li a:hover,
.search_filter .category_filter .btn.dropdown-toggle + .dropdown-menu li a:focus {
  color: #fff;
  background: #e74c3c;
}
.search_filter .category_filter .btn.dropdown-toggle + .dropdown-menu li a:hover .badge,
.search_filter .category_filter .btn.dropdown-toggle + .dropdown-menu li a:focus .badge {
  background: #cf3b2c;
  color: #fff;
}
.search_filter .category_filter .btn.dropdown-toggle + .dropdown-menu li.selected {
  border-top-color: #e74c3c;
}
.search_filter .category_filter .btn.dropdown-toggle + .dropdown-menu li.selected + li {
  border-top-color: #e74c3c;
}
.search_filter .category_filter .btn.dropdown-toggle + .dropdown-menu li.selected a {
  color: #fff;
  background: #e74c3c;
}
.search_filter .category_filter .btn.dropdown-toggle + .dropdown-menu li.selected a .badge {
  background: #cf3b2c;
  color: #fff;
}
.search_filter .category_filter.open .btn .caret {
  background-image: url(../../images/author/dropdown-arrow2-open.png);
}
.search_filter .category_filter.open .btn + .dropdown-menu {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.search_filter .postTypeFilter {
  margin: 0 0 0 180px;
  padding: 5px 0;
}
.search_filter .postTypeFilter.ml0 {
  margin-left: 0;
}
.search_filter .postTypeFilter .btn {
  background: none;
  border: 1px solid #6b7881;
  border-radius: 20px;
  padding: 0 15px 0 0;
  line-height: 28px;
  height: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #6b7881;
}
.search_filter .postTypeFilter .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 20px;
}
.search_filter .postTypeFilter .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.search_filter .postTypeFilter .btn + .btn {
  margin-left: 8px;
  border-radius: 20px;
}
.search_filter .postTypeFilter .btn.active {
  background: #e74c3c;
  border-color: #e74c3c;
  color: #fff;
}
.search_filter .postTypeFilter .btn:before {
  width: 40px;
  float: left;
  content: '';
  height: 30px;
  background: no-repeat scroll center center;
}
.search_filter .postTypeFilter .btn:first-child:before {
  background-image: url(../../images/icons/chart.png);
}
.search_filter .postTypeFilter .btn:first-child.active:before {
  background-image: url(../../images/icons/chart-active.png);
}
.search_filter .postTypeFilter .btn:nth-child(2):before {
  background-image: url(../../images/icons/video.png);
}
.search_filter .postTypeFilter .btn:nth-child(2).active:before {
  background-image: url(../../images/icons/video-active.png);
}
.search_filter .postTypeFilter .btn:nth-child(3):before {
  background-image: url(../../images/icons/camera.png);
}
.search_filter .postTypeFilter .btn:nth-child(3).active:before {
  background-image: url(../../images/icons/camera-active.png);
}
.search_filter .postTypeFilter .btn:last-child:before {
  background-image: url(../../images/icons/audio.png);
}
.search_filter .postTypeFilter .btn:last-child.active:before {
  background-image: url(../../images/icons/audio-headphone.png);
}
.search_filter.search_filter_type2 .listing_type {
  margin-right: 0;
}
.search_form,
.widget.widget_search {
  width: 244px;
}
.search_form .input-group .form-control,
.widget.widget_search .input-group .form-control {
  background: none;
  line-height: 38px;
  height: 40px;
  border-color: #6b7881;
}
.search_form .input-group .form-control::-moz-placeholder,
.widget.widget_search .input-group .form-control::-moz-placeholder {
  color: #6b7881;
  opacity: 1;
  text-transform: uppercase;
  transition: all 300ms ease-in-out 0s;
}
.search_form .input-group .form-control:-ms-input-placeholder,
.widget.widget_search .input-group .form-control:-ms-input-placeholder {
  color: #6b7881;
  text-transform: uppercase;
  transition: all 300ms ease-in-out 0s;
}
.search_form .input-group .form-control::-webkit-input-placeholder,
.widget.widget_search .input-group .form-control::-webkit-input-placeholder {
  color: #6b7881;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.search_form .input-group .form-control:focus::-moz-placeholder,
.widget.widget_search .input-group .form-control:focus::-moz-placeholder {
  color: #f1f4f5;
}
.search_form .input-group .form-control:focus:-ms-input-placeholder,
.widget.widget_search .input-group .form-control:focus:-ms-input-placeholder {
  color: #f1f4f5;
}
.search_form .input-group .form-control:focus::-webkit-input-placeholder,
.widget.widget_search .input-group .form-control:focus::-webkit-input-placeholder {
  color: #f1f4f5;
}
.search_form .input-group .form-control + span,
.widget.widget_search .input-group .form-control + span {
  padding: 0;
  background: none;
  border-color: #6b7881;
}
.search_form .input-group .form-control + span button,
.widget.widget_search .input-group .form-control + span button {
  padding: 0;
  width: 35px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background: none;
  border: none;
}
.widget.widget_search {
  width: auto;
}
.widget.widget_search .input-group .form-control {
  border-color: #e8ebec;
}
.widget.widget_search .input-group .form-control::-moz-placeholder {
  color: #828a91;
}
.widget.widget_search .input-group .form-control:-ms-input-placeholder {
  color: #828a91;
}
.widget.widget_search .input-group .form-control::-webkit-input-placeholder {
  color: #828a91;
}
.widget.widget_search .input-group .form-control:focus::-moz-placeholder {
  color: #313b42;
}
.widget.widget_search .input-group .form-control:focus:-ms-input-placeholder {
  color: #313b42;
}
.widget.widget_search .input-group .form-control:focus::-webkit-input-placeholder {
  color: #313b42;
}
.widget.widget_search .input-group .form-control + span {
  border-color: #e8ebec;
}
/*----------------------------------------------------------------*/
.auth_form {
  width: 100vw;
  height: 100vh;
  background: #fff;
}
.auth_form .form-inner .form-header,
.auth_form .form-inner .options_header {
  text-align: center;
}
.auth_form .form-inner .form-header a,
.auth_form .form-inner .options_header a {
  display: inline-block;
}
.auth_form .form-inner .form-header h4,
.auth_form .form-inner .options_header h4 {
  margin: 25px 0;
  line-height: 1;
  font-weight: normal;
  color: #43494e;
}
.auth_form .form-inner .form-header h4 a,
.auth_form .form-inner .options_header h4 a {
  display: inline-block;
  color: #e74c3c;
  text-decoration: underline;
}
.auth_form .form-inner .form-header h4 a:hover,
.auth_form .form-inner .options_header h4 a:hover {
  text-decoration: none;
}
.auth_form .form-inner .form-body .form-control {
  background-color: transparent;
  border: 1px solid #e8ebec;
  border-radius: 2px;
  height: 40px;
  padding: 0 20px;
  line-height: 38px;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.auth_form .form-inner .form-body .form-control:focus {
  border-color: #e74c3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(231, 76, 60, 0.75), 0 0 8px rgba(231, 76, 60, 0.8);
  box-shadow: inset 0 1px 1px rgba(231, 76, 60, 0.75), 0 0 8px rgba(231, 76, 60, 0.8);
}
.auth_form .form-inner .form-body .form-control + .form-control {
  margin-top: 10px;
}
.auth_form .form-inner .form-body .form-control::-moz-placeholder {
  color: #828a91;
  opacity: 1;
  text-transform: capitalize;
  transition: all 300ms ease-in-out 0s;
}
.auth_form .form-inner .form-body .form-control:-ms-input-placeholder {
  color: #828a91;
  text-transform: capitalize;
  transition: all 300ms ease-in-out 0s;
}
.auth_form .form-inner .form-body .form-control::-webkit-input-placeholder {
  color: #828a91;
  text-transform: capitalize;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.auth_form .form-inner .form-body .form-control:focus::-moz-placeholder {
  color: #6b7881;
}
.auth_form .form-inner .form-body .form-control:focus:-ms-input-placeholder {
  color: #6b7881;
}
.auth_form .form-inner .form-body .form-control:focus::-webkit-input-placeholder {
  color: #6b7881;
}
.auth_form .form-inner .form-body .form-control[type="submit"] {
  background: #e74c3c;
  text-shadow: none;
  color: #fff;
  text-transform: uppercase;
  border: none;
  padding: 0;
  line-height: 40px;
  height: 42px;
  margin-top: 30px;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.auth_form .form-inner .form-body .form-control[type="submit"]:hover {
  background: #43494e;
  color: #f1f4f5;
}
.auth_form .form-inner .form-footer {
  text-align: center;
  padding-top: 20px;
}
.auth_form .form-inner .form-footer button.mfp-close {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../../images/icons/close.png) no-repeat scroll center center;
}
.signup_form .form-inner {
  width: 320px;
  margin: 0 auto;
  margin-top: -webkit-calc(50vh - 181px);
  margin-top: calc(50vh - 181px);
}
.login_form {
  width: 100vw;
  height: 100vh;
  background: #fff;
}
.login_form .form-inner {
  width: 520px;
  margin: 0 auto;
  margin-top: -webkit-calc(50vh - 298px);
  margin-top: calc(50vh - 298px);
}
.login_form .form-inner .login_options .login_with_social_media {
  text-align: center;
  width: 390px;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #e8ebec;
}
.login_form .form-inner .login_options .login_with_social_media a {
  display: inline-block;
}
.login_form .form-inner .login_options .login_with_social_media a + a {
  margin-top: 10px;
}
.login_form .form-inner .form-header,
.login_form .form-inner .form-body,
.login_form .form-inner .form-footer {
  width: 320px;
  margin: 0 auto;
}
.login_form .form-inner .form-header h4,
.login_form .form-inner .form-body h4,
.login_form .form-inner .form-footer h4 {
  margin: 25px 0 15px;
}
/*----------------------------------------------------------------*/
.author_details {
  padding-top: 15px;
}
.author_details .author_cover img {
  width: 100%;
}
.author_details .author_photo_name {
  padding-bottom: 40px;
}
.author_details .author_photo_name img {
  width: 110px;
  height: 110px;
  border: none;
  margin-left: 25px;
  margin-top: -55px;
}
.author_details .author_photo_name h3 {
  font-weight: 600;
  color: #43494e;
}
.author_details .follow_n_count {
  padding-top: 60px;
}
.author_details .follow_n_count .btn-group {
  border-radius: 3px;
  float: right;
}
.author_details .follow_n_count .btn-group a {
  line-height: 22px;
  padding: 0 20px;
  border: 1px solid #c9ced1;
  text-transform: uppercase;
  color: #828a91;
}
.author_details .follow_n_count .btn-group a:hover {
  background: #43494e;
  color: #f1f4f5;
  border-color: #43494e;
}
.author_details .follow_n_count .btn-group a + a {
  border: 0;
  background: #5edb87;
  line-height: 24px;
  color: #fff;
}
.author_details .follow_n_count .btn-group a + a:focus {
  background: #6b7881;
}
.author_details .bio_section {
  border-top: 1px solid  #e8ebed;
  border-bottom: 1px solid  #e8ebed;
  height: auto;
  position: relative;
  margin-bottom: 50px;
  margin-top: 0;
}
.author_details .bio_section .about_social {
  width: 285px;
  padding: 0;
}
.author_details .bio_section .about_social .section_row {
  padding: 30px 0;
}
.author_details .bio_section .about_social .section_row + .section_row {
  border-top: 1px solid  #e8ebed;
}
.author_details .bio_section .about_social .about_section h4 {
  font-size: 16px;
  line-height: 1;
  margin: 0 0 15px;
  color: #43494e;
}
.author_details .bio_section .about_social .about_section dl {
  margin: 0;
}
.author_details .bio_section .about_social .about_section dl dt {
  text-align: left;
  color: #43494e;
  width: 115px;
}
.author_details .bio_section .about_social .about_section dl dd {
  color: #43494e;
  margin-left: 115px;
  text-align: left;
}
.author_details .bio_section .about_social .about_section.single_video_info {
  /*dl{
                        dt{
                            width: 130px;
                        }
                        dd{
                            margin-left: 130px;
                        }
                    }*/
}
.author_details .bio_section .about_social .social_section h5 {
  margin: 0 0 15px;
  color: #43494e;
  font-weight: 600;
  line-height: 1;
}
.author_details .bio_section .about_social .social_section ul {
  width: 223px;
  margin: 0;
}
.author_details .bio_section .about_social .social_section ul li {
  padding: 1px;
}
.author_details .bio_section .about_social .social_section ul li a {
  display: block;
}
.author_details .bio_section .author_desc_by_author {
  width: -webkit-calc(100% - 285px);
  width: calc(100% - 285px);
  border-left: 1px solid  #e8ebed;
  min-height: 100%;
  position: relative;
  padding: 25px 0 25px 28px;
  color: #43494e;
}
.author_details .bio_section .author_desc_by_author p {
  line-height: 22px;
  margin-bottom: 0;
}
.author_details .bio_section .author_desc_by_author p + p {
  margin-top: 15px;
}
/*----------------------------------------------------------------*/
.post_details .post_title_n_view {
  position: relative;
}
.post_details .post_title_n_view h2 {
  font-weight: 600;
  color: #43494e;
  line-height: 38px;
  margin: 25px 0 28px;
}
.post_details .post_title_n_view h2.view_count {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
}
.post_details .post_title_n_view h2.view_count small {
  font-weight: 400;
  font-size: 12px;
}
.post_details .bio_section {
  margin-bottom: 0;
}
.post_details .author_section.widget.widget_recommended_to_follow .media .media-body .btn-group a {
  padding: 0 15px;
}
.comment_form h5 {
  margin: 0;
  padding: 25px 0;
  text-transform: uppercase;
  color: #43494e;
  font-weight: 600;
}
.comment_form textarea {
  resize: none;
  height: 200px;
  border-color: #e8ebec;
}
.comment_form .btn {
  height: 42px;
  line-height: 42px;
  padding: 0 55px;
  border-radius: 2px;
  background: #e74c3c;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 30px;
}
.comments {
  border-bottom: 1px solid  #e8ebec;
}
.comments .comment_count {
  font-weight: 600;
  text-transform: uppercase;
  color: #43494e;
  line-height: 1;
  margin: 25px 0 0;
}
.comments .comment {
  padding: 25px 0 0;
}
.comments .comment + .comment {
  border-top: 1px solid  #e8ebec;
  margin: 0;
}
.comments .comment.no-reply {
  padding-bottom: 25px;
}
.comments .comment .media-left {
  padding-right: 20px;
}
.comments .comment .media-left a {
  width: 70px;
  height: 70px;
}
.comments .comment .media-body .comment_header h5 {
  margin: 0 0 15px;
}
.comments .comment .media-body .comment_header h5 a {
  color: #43494e;
  font-weight: 600;
}
.comments .comment .media-body .comment_header h5 .time_ago {
  color: #828a91;
  margin: 0 20px;
}
.comments .comment .media-body .comment_header h5 .reply_link {
  text-decoration: underline;
  text-transform: uppercase;
}
.comments .comment .media-body p {
  color: #43494e;
  margin: 0;
  line-height: 22px;
}
.comments .comment .media-body p + p {
  margin-top: 15px;
}
.comments .comment.comment_reply {
  border-top: 1px solid  #e8ebec;
  padding-bottom: 25px;
}
/*----------------------------------------------------------------*/

body {
  background: #f9f5f0;
}

img {
  max-width: 100%;
}

.video-thumb .screencast {
  position: relative;
}
.video-thumb .video-play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 3rem;
  color: #f4e8d8b5;
}
.video-thumb .video-play-button:hover {
  color: #f4e8d8;
}
.video-thumb .duration {
  position: absolute;
  background: #47a9bfba;
  line-height: 20px;
  font-size: 12px;
  padding: 0 5px;
  right: 0;
  top: 0;
  color: #fff;
}
.video-thumb .details {
  padding: 5px 7px;
}
.video-thumb .details h5 {
  font-size: 14px;
}

.retro-ribbon {
  height: 65px;
  background: url('/images/film.jpg');
}

.logo-block {
  height: 90px;
  padding: 8px 0;
}
.logo-block img,
.logo-block div {
  display: inline-block;
}
.logo-block .logo-text {
  padding-left: 10px;
  color: #da4757;
  font-family: 'Alegreya', serif;
  vertical-align: bottom;
  font-weight: 700;
  line-height: 1;
  font-size: 40px;
}
.logo-block .logo-text span {
  color: #514c49;
  font-weight: 400;
  padding-top: 5px;
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.widget {
  margin-bottom: 1em;
}
.widget h4 {
  margin-bottom: .75em;
}
.widget .screencast {
  width: 120px;
  height: 90px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.widget .author {
  color: #544e43;
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  padding-right: 2em;
}

.promotions {
  border-top: 10px solid #da4757;
  border-radius: 3px;
  padding: 10px;
  background: #fffefc;
  box-shadow: 1px 1px 2px #dad0c2;
}
.promotions .promotion-main-link {
  color: #da4757;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-decoration: underline;
}
.promotions .promotion-main-link:hover {
  text-decoration: none;
}

.promo-article-thumb,
.promo-video-thumb {
  position: relative;
  padding: 5px 0 10px 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #efefef;
}
.promo-article-thumb:last-child,
.promo-video-thumb:last-child {
  border-bottom: none;
}
.promo-article-thumb .pic,
.promo-video-thumb .pic {
  width: 120px;
  height: 90px;
  float: left;
}
.promo-article-thumb .description,
.promo-video-thumb .description {
  padding-left: 130px;
}
.promo-article-thumb h5,
.promo-video-thumb h5 {
  text-transform: none;
  color: #544e43;
  margin-bottom: .4em;
}
.promo-video-thumb h5 {
  text-transform: uppercase;
  color: #da4757;
}
.promo-article-thumb .description p,
.promo-video-thumb .description p {
  font-size: 12px;
  margin-bottom: 0;
  line-height: 1.25;
  color: #3e3b39;
}
.promo-video-thumb .pic {
  position: relative;
}
.promo-video-thumb .pic .duration {
  position: absolute;
  background: #47a9bfba;
  line-height: 20px;
  font-size: 12px;
  padding: 0 5px;
  right: 0;
  top: 0;
  color: #fff;
}
.promo-video-thumb .author {
  color: #544e43;
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  padding-right: 2em;
}
#search {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  line-height: 29px;
  font-size: 16px;
  border: none;
  background: #fffefc;
}
#search:focus {
  box-shadow: 0 0 0 0.2rem rgb(220, 205, 184);
}

/* Main menu */
.navbar {
  padding: 0;
}
.main-menu {
  font-family: 'Roboto Condensed', sans-serif;
}
.main-menu > li > a {
  color: #4a4a4a;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}
.main-menu > li:first-child > a {
  padding-left: 0 !important;
}

.blog-header-logo,
.blog-header-logo:hover,
.blog-header-logo:active {
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Alegreya', serif;
  color: #da4757;
}