.level-indent {
  padding-right: 2rem;
}
ui-sortable-helper {
  background-color: #fff;
}
.ul-sortable {
  margin: 0;
  padding: 0;
  list-style: none;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul:empty {
    min-height: 16px;
    background: #97b953;
    position: relative;
  }
  ul:empty:before {
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 10px;
    line-height: 16px;
    content: "Перетащите сюда, чтобы добавить подпункт";
    color: #fff;
  }

  ul .name {
    padding-left: 2em;
  }

  ul ul .name {
    padding-left: 4em;
  }

  ul ul ul .name {
    padding-left: 6em;
  }

  ul ul ul ul .name {
    padding-left: 8em;
  }

  li {
    margin: 0;
    padding: 0;

    .faux-row {
      width: 100%;
      position: relative;
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;

      & > div {
        float: left;
      }
      & > div:nth-child(1) {
        width: 10%;
      }
      & > div:nth-child(2) {
        width: 40%;
      }
      & > div:nth-child(3) {
        width: 40%;
      }
      & > div:nth-child(4) {
        width: 10%;
      }

      .operations {
        top: 3px;
        font-size: 19px;
        line-height: 29px;
        position: absolute;
        right: 0.5em;
        padding: 0;
      }
    }
  }
}
